<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Evaluación capacidades de innovación</title>
  <%- include('partials/head'); -%>
    <script type="text/javascript" src="/funciones.js"></script>
</head>

<body class="profile">
  <p style="display:none"><strong>Usuario</strong> :
  <p id="idEmail" style="display:none">
    <%=user.local.email%>
  </p><br>
  <p style="display:none"><strong>Empresa</strong> :
  <p id="idEmpresa" style="display:none">
    <%=user.local.nombreempresa%>
  </p><br>
  <div class="container">
    <header class="text-center">
      <br>
      <div class="p-3 bg-dark text-white rounded-3">
        <h1>Bienvenido a la evaluación capacidades de innovación</h1>
        <h2>
          <%=user.local.email%>
        </h2>
        <h2>Empresa: <%=user.local.nombreempresa%>
        </h2>
        <br>
      </div>
      <br>
      <a href="/historial" class="btn btn-dark btn-lg">
        Historial
      </a>
      <% if(user.local.admin==true) {%>
        <a id="configBtn" href="/configuracion" class="btn btn-dark btn-lg">
          Configuracion
        </a>
        <% } %>
          <a href="/logout" class="btn btn-dark btn-lg">
            Salir
          </a>
    </header>
    <hr>
    <div class="p-3 bg-dark text-white rounded-3">
      <p>Descripción</p>
      <p>Descripción</p>
    </div>
    <br>

    <div id="Seccion de informacion de la empresa">
      <div class="d-grid gap-2">
        <button class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#empresa"
          aria-expanded="false" aria-controls="empresa">
          Informacion de la empresa
        </button>
      </div>
      <br>

      <div class="collapse bg-primary border border-3" id="empresa">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Qué función desempeñas en la organización?</p>
          <input type="radio" id="Finanzasyadminisitracion" name="Emp1" value="Finanzas y adminisitración">
          <label for="Finanzasyadminisitracion">Finanzas y adminisitración</label><br>
          <input type="radio" id="Gestion" name="Emp1" value="Gestión de empresas y dirección ejecutiva">
          <label for="Gestion">Gestión de empresas y dirección ejecutiva</label><br>
          <input type="radio" id="Ventas" name="Emp1" value="Ventas">
          <label for="Ventas">Ventas</label><br>
          <input type="radio" id="Desarrollodelproducto" name="Emp1" value="Desarrollo del producto">
          <label for="Desarrollodelproducto">Desarrollo del producto</label><br>
          <input type="radio" id="TI" name="Emp1" value="Tecnología de la información (TI)">
          <label for="TI">Tecnología de la información (TI)</label><br>
          <input type="radio" id="Produccion" name="Emp1" value="Producción">
          <label for="Produccion">Producción</label><br>
          <input type="radio" id="Adquisiciones" name="Emp1" value="Adquisiciones, cadena de suministro y logística">
          <label for="Adquisiciones">Adquisiciones, cadena de suministro y logística</label><br>
          <input type="radio" id="riesgo" name="Emp1" value="Auditoría y gestión de riesgo">
          <label for="riesgo">Auditoría y gestión de riesgo</label><br>
          <input type="radio" id="juridicos" name="Emp1" value="Servicios jurídicos y de competencia">
          <label for="juridicos">Servicios jurídicos y de competencia</label><br>
          <input type="radio" id="Servicioalcliente" name="Emp1" value="Servicio al cliente">
          <label for="Servicioalcliente">Servicio al cliente</label><br>
          <input type="radio" id="inmuebles" name="Emp1" value="Instalaciones y servicios de inmuebles">
          <label for="inmuebles">Instalaciones y servicios de inmuebles</label><br>
          <input type="radio" id="RH" name="Emp1" value="Recursos humanos">
          <label for="RH">Recursos humanos</label><br>
          <input type="radio" id="Mercadotecnia" name="Emp1" value="Mercadotecnia y comunicaciones">
          <label for="Mercadotecnia">Mercadotecnia y comunicaciones</label><br>
          <input type="radio" id="Gproducto" name="Emp1" value="Gestión de producto">
          <label for="Gproducto">Gestión de producto</label><br>
          <input type="radio" id="Gprogramasyproyectos" name="Emp1" value="Gestión de programas y de proyectos">
          <label for="Gprogramasyproyectos">Gestión de programas y de proyectos</label><br>
          <input type="radio" id="Calidad" name="Emp1" value="Calidad y excelencia de procesos">
          <label for="Calidad">Calidad y excelencia de procesos</label><br>
          <input type="radio" id="R&D" name="Emp1" value="Investigación y desarrollo (R&D)">
          <label for="R&D">Investigación y desarrollo (R&D)</label><br>
          <input type="radio" id="Estrategia" name="Emp1" value="Estrategia">
          <label for="Estrategia">Estrategia</label><br>
          <input type="radio" id="Otra" name="Emp1" value="Otra">
          <label for="Otra">Otra</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Cuántos empleados tiene la organización?</p>
          <input type="radio" id="1-50" name="Emp2" value="1-50">
          <label for="1-50">1-50</label><br>
          <input type="radio" id="51-500" name="Emp2" value="51-500">
          <label for="51-500">51-500</label><br>
          <input type="radio" id="501-5000" name="Emp2" value="501-5000">
          <label for="501-5000">501-5000</label><br>
          <input type="radio" id="Más de 5000" name="Emp2" value="Más de 5000">
          <label for="Más de 5000">Más de 5000</label><br>
          <input type="radio" id="No sé" name="Emp2" value="No sé">
          <label for="No sé">No sé</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿A qué mercados atiende la organización?</p>
          <input type="checkbox" id="Local" name="Emp3-1" value="Local">
          <label for="Local">Local</label><br>
          <input type="checkbox" id="Estatal" name="Emp3-2" value="Estatal">
          <label for="Estatal">Estatal</label><br>
          <input type="checkbox" id="Regional" name="Emp3-3" value="Regional">
          <label for="Regional">Regional</label><br>
          <input type="checkbox" id="Nacional" name="Emp3-4" value="Nacional">
          <label for="Nacional">Nacional</label><br>
          <input type="checkbox" id="Internacional" name="Emp3-5" value="Internacional">
          <label for="Internacional">Internacional</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Dónde está ubicada la organización?</p>
          <select id="Emp4" class="form-select" aria-label="Default select example">
            <option selected>Seleccione un valor</option>
            <option value="Sonora">Sonora</option>
            <option value="México">México</option>
            <option value="EU">EU</option>
            <option value="otro">otro</option>
          </select>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿En qué segmentos industriales participa la organización?</p>
          <input type="checkbox" id="Construcción" name="Emp3-1" value="Construcción">
          <label for="Construcción">Construcción</label><br>
          <input type="checkbox" id="Suministros" name="Emp3-2"
            value="Suministros de electricidad, gas, vapor y aires acondicionados">
          <label for="Suministros">Suministros de electricidad, gas, vapor y aires acondicionados</label><br>
          <input type="checkbox" id="hogares" name="Emp3-3" value="hogares">
          <label for="hogares">Actividades de los hogares como empleadores de personal doméstico; Actividades de los
            hogares como
            productores de bienes y servicios para uso propio.</label><br>
          <input type="checkbox" id="inmobiliarias" name="Emp3-4" value="Actividades inmobiliarias">
          <label for="inmobiliarias">Actividades inmobiliarias</label><br>
          <input type="checkbox" id="seguros" name="Emp3-5" value="Actividades financieras y de seguros">
          <label for="seguros">Actividades financieras y de seguros</label><br>
          <input type="checkbox" id="motor" name="Emp3-5"
            value="Comercio al por mayor y al por menor; reparación de vehículos de motor y motocicletas">
          <label for="motor">Comercio al por mayor y al por menor; reparación de vehículos de motor y
            motocicletas</label><br>
          <input type="checkbox" id="alojamiento" name="Emp3-5"
            value="Hostelería, servicios de alojamiento y servicios de alimentos y bebidas">
          <label for="alojamiento">Hostelería, servicios de alojamiento y servicios de alimentos y bebidas</label><br>
          <input type="checkbox" id="comunicaciones" name="Emp3-5" value="Información y comunicaciones">
          <label for="comunicaciones">Información y comunicaciones</label><br>
          <input type="checkbox" id="Agricultura" name="Emp3-5" value="Agricultura, ganadería, silvicultura y pesca">
          <label for="Agricultura">Agricultura, ganadería, silvicultura y pesca</label><br>
          <input type="checkbox" id="recreativas" name="Emp3-5"
            value="Actividades artísticas, recreativas y de entretenimiento">
          <label for="recreativas">Actividades artísticas, recreativas y de entretenimiento</label><br>
          <input type="checkbox" id="defensa" name="Emp3-5"
            value="Administración pública y defensa; Seguridad Social obligatoria">
          <label for="defensa">Administración pública y defensa; Seguridad Social obligatoria</label><br>
          <input type="checkbox" id="Manufactura" name="Emp3-5" value="Manufactura">
          <label for="Manufactura">Manufactura</label><br>
          <input type="checkbox" id="almacenamiento" name="Emp3-5" value="Transporte y almacenamiento">
          <label for="almacenamiento">Transporte y almacenamiento</label><br>
          <input type="checkbox" id="Educa" name="Emp3-5" value="Educación">
          <label for="Educa">Educación</label><br>
          <input type="checkbox" id="auxiliares" name="Emp3-5"
            value="Actividades administrativas y servicios auxiliares">
          <label for="auxiliares">Actividades administrativas y servicios auxiliares</label><br>
          <input type="checkbox" id="extractivas" name="Emp3-5" value="Industrias extractivas">
          <label for="extractivas">Industrias extractivas</label><br>
          <input type="checkbox" id="sanitarias" name="Emp3-5" value="Actividades sanitarias y de servicios sociales">
          <label for="sanitarias">Actividades sanitarias y de servicios sociales</label><br>
          <input type="checkbox" id="agua" name="Emp3-5"
            value="Suministro de agua, actividades de saneamiento, gestión de residuos y descontaminación">
          <label for="agua">Suministro de agua, actividades de saneamiento, gestión de residuos y
            descontaminación</label><br>
          <input type="checkbox" id="profesionales" name="Emp3-5"
            value="Actividades profesionales, científicas y técnicas">
          <label for="profesionales">Actividades profesionales, científicas y técnicas</label><br>
          <input type="checkbox" id="extraterritoriales" name="Emp3-5"
            value="Actividades de organizaciones y organismos extraterritoriales">
          <label for="extraterritoriales">Actividades de organizaciones y organismos extraterritoriales</label><br>
          <input type="checkbox" id="Otrasservicio" name="Emp3-5" value="Otras actividades de servicio">
          <label for="Otrasservicio">Otras actividades de servicio</label><br>
        </div>
        <br>

      </div>
    </div>

    <div id="Seccion de Estrategia">
      <div class="d-grid gap-2">
        <button id="btnEstrategia" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#estrategia"
          aria-expanded="false" aria-controls="estrategia">
          Estrategia 0/60
        </button>
      </div>
      <br>

      <div class="collapse bg-primary border border-3" id="estrategia">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Realiza la organización esfuerzos significativos para innovar?</p>
          <input type="radio" id="Falso1" name="EstP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Ha realiza la organización algún esfuerzos significativos para innovar en el último año?</p>
          <input type="radio" id="Falso1" name="EstP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La Innovación en la organización impacta y genera cambios mejoras (corto plazo), incrementales (mediano
            plazo), y/o radicales (largo plazo)?</p>
          <input type="radio" id="Falso1" name="EstP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Explora la organización sus mercados en busca de futuras necesidades reales en vez de descansar en
            demandas
            percibidas actuales?</p>
          <input type="radio" id="Falso1" name="EstP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización explora sistemáticamente la demanda del mercado?</p>
          <input type="radio" id="Falso1" name="EstP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización utiliza nuevas tecnologías? Ejemplo: computo en la nube, internet de las
            cosas, inteligencia artificial, inteligencia de negocios, blockchain, realidad virtual o
            aumentada)</p>
          <input type="radio" id="Falso1" name="EstP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización innova principalmente para incrementar sus utilidades (o en caso de
            organizaciones sin fines de lucro, incrementar los beneficios de sus miembros o de su
            población constituyente)?</p>
          <input type="radio" id="Falso1" name="EstP7" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP7" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP7" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP7" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP7" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización innova para incrementar y/o fortalecer su posición competitiva?</p>
          <input type="radio" id="Falso1" name="EstP8" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP8" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP8" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP8" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP8" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización cuestiona de forma continua tanto su modelo de negocio como su
            oferta, "nada es sagrado"?</p>
          <input type="radio" id="Falso1" name="EstP9" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP9" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP9" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP9" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP9" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización establece metas de innovación y trabaja sistemáticamente para
            conseguirlas?</p>
          <input type="radio" id="Falso1" name="EstP10" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP10" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP10" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP10" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP10" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Encuentra la organización nuevas áreas en donde usar sus capacidades y maneras
            diferentes de aplicarlas?</p>
          <input type="radio" id="Falso1" name="EstP11" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP11" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP11" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP11" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP11" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización invierte en proyectos de innovación riesgosos que no necesariamente
            devuelven la inversión?</p>
          <input type="radio" id="Falso1" name="EstP12" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="EstP12" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="EstP12" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="EstP12" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="EstP12" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('estrategia')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Organización de la Innovación">
      <div class="d-grid gap-2">
        <button id="btnOrg" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#orgDeLaInovacion"
          aria-expanded="false" aria-controls="orgDeLaInovacion">
          Organización de la Innovación 0/90
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="orgDeLaInovacion">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Innova la organización sus productos y/o servicios?</p>
          <input type="radio" id="Falso1" name="orgP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Innova la organización sus procesos?</p>
          <input type="radio" id="Falso1" name="orgP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Innova la organización su estructura organizacional?</p>
          <input type="radio" id="Falso1" name="orgP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Innova la organización sus sistemas de gestión (por ejemplo, en la administración del
            desempeño, en el aseguramiento de calidad, en su administración de incentivos, etc.)?</p>
          <input type="radio" id="Falso1" name="orgP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Innova la organización en producción y logística con nuevos enfoques?</p>
          <input type="radio" id="Falso1" name="orgP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Regularmente innova la organización en su(s) modelo(s) de negocio, por ejemplo,
            usando tecnología digital para nuevos negocios?</p>
          <input type="radio" id="Falso1" name="orgP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Innova la organización sus servicios?</p>
          <input type="radio" id="Falso1" name="orgP7" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP7" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP7" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP7" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP7" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización cuestiona de forma continua tanto su modelo de negocio como su
            oferta, "nada es sagrado"?</p>
          <input type="radio" id="Falso1" name="orgP8" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP8" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP8" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP8" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP8" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización establece metas de innovación y trabaja sistemáticamente para
            conseguirlas?</p>
          <input type="radio" id="Falso1" name="orgP9" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP9" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP9" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP9" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP9" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Encuentra la organización nuevas áreas en donde usar sus capacidades y maneras
            diferentes de aplicarlas?</p>
          <input type="radio" id="Falso1" name="orgP10" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP10" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP10" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP10" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP10" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización invierte en proyectos de innovación riesgosos que no necesariamente
            devuelven la inversión?</p>
          <input type="radio" id="Falso1" name="orgP11" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP11" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP11" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP11" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP11" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización un modelo de liderzgo orientado a los objetivos?</p>
          <input type="radio" id="Falso1" name="orgP12" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP12" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP12" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP12" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP12" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Están todos los empleados enterados de la visión de la organización y están trabajando
            para que se cumpla?</p>
          <input type="radio" id="Falso1" name="orgP13" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP13" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP13" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP13" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP13" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La alta gerencia cataloga como prioritarios los esfuerzos en pos de la innovación y les
            asigna recursos suficientes?
          </p>
          <input type="radio" id="Falso1" name="orgP14" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP14" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP14" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP14" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP14" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La colaboración entre las áreas funciona bien y continuamente genera nuevas ideas?</p>
          <input type="radio" id="Falso1" name="orgP15" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP15" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP15" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP15" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP15" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Permite la estructura de la organización el aprovechar nuevas ideas y probarlas
            formalmente y rápido?</p>
          <input type="radio" id="Falso1" name="orgP16" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP16" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP16" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP16" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP16" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización tiene un sistema de reconocimientos e incentivos para los esfuerzos de
            innovación?</p>
          <input type="radio" id="Falso1" name="orgP17" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP17" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP17" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP17" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP17" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La gente en la organización genera un ambiente sano y crea relaciones tanto
            internamente como con externos?</p>
          <input type="radio" id="Falso1" name="orgP18" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="orgP18" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="orgP18" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="orgP18" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="orgP18" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('org')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Preguntas relacionadas con el producto y servicio">
      <div class="d-grid gap-2">
        <button id="btnProServ" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#PregProductoyServicio"
          aria-expanded="false" aria-controls="PregProductoyServicio">
          Preguntas relacionadas con el producto y servicio  0/30
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="PregProductoyServicio">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización continuamente evalúa los productos de sus competidores?</p>
          <input type="radio" id="Falso1" name="proServP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="proServP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="proServP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="proServP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="proServP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización lanza al mercado regularmente nuevos tipos de productos?</p>
          <input type="radio" id="Falso1" name="proServP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="proServP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="proServP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="proServP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="proServP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Cuenta la organización con procesos documentados para diseñar, probar y lanzar
            productos?</p>
          <input type="radio" id="Falso1" name="proServP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="proServP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="proServP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="proServP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="proServP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización trabaja sistemáticamente en la búsqueda de nuevos servicios para
            obtener una ventaja competitiva?
          </p>
          <input type="radio" id="Falso1" name="proServP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="proServP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="proServP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="proServP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="proServP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización pone a prueba nuevos servicios y los compara en un benchmark con los
            antiguos servicios, antes de su lanzamiento?
          </p>
          <input type="radio" id="Falso1" name="proServP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="proServP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="proServP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="proServP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="proServP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Evalúa la organización sus servicios a través de observar experiencias reales de
            clientes, mismas que se registran, analizan y evalúan dando como resultado mejoras
            concretas?</p>
          <input type="radio" id="Falso1" name="proServP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="proServP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="proServP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="proServP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="proServP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('proServ')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Preguntas relacionadas con el involucramiento del cliente">
      <div class="d-grid gap-2">
        <button id="btnInvoCliente" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse"
          data-bs-target="#PregInvolucramientoDelCliente" aria-expanded="false"
          aria-controls="PregInvolucramientoDelCliente">
          Preguntas relacionadas con el involucramiento del cliente 0/30
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="PregInvolucramientoDelCliente">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización trabaja sistemáticamente con "comunidades" en donde los clientes
            contribuyen con ideas, así como ayudan a evaluar las más recientes innovaciones?</p>
          <input type="radio" id="Falso1" name="invoClienteP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="invoClienteP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="invoClienteP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="invoClienteP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="invoClienteP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización involucra a sus clientes en su proceso de desarrollo de nuevos
            productos y/o servicios?</p>
          <input type="radio" id="Falso1" name="invoClienteP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="invoClienteP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="invoClienteP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="invoClienteP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="invoClienteP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización un sistema de recolección de datos y opiniones de
            retroalimentación de los clientes respecto a los productos y servicios clientes que ayudan
            a la organización en sus esfuerzos de innovación?
          </p>
          <input type="radio" id="Falso1" name="invoClienteP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="invoClienteP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="invoClienteP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="invoClienteP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="invoClienteP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización un entendimiento pleno y una visión del proceso de toma de
            decisiones de sus clientes?</p>
          <input type="radio" id="Falso1" name="invoClienteP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="invoClienteP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="invoClienteP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="invoClienteP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="invoClienteP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Estudia y analiza la organización el comportamiento real de los clientes para encontrar
            maneras innovadoras de dividir los mercados en nuevos segmentos diferenciados?</p>
          <input type="radio" id="Falso1" name="invoClienteP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="invoClienteP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="invoClienteP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="invoClienteP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="invoClienteP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Conduce frecuentemente la organización estudios de mercado independientes, sobre sí
            misma y sobre sus competidores, para estimar el potencial de mercado?
          </p>
          <input type="radio" id="Falso1" name="invoClienteP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="invoClienteP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="invoClienteP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="invoClienteP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="invoClienteP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('invoCliente')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Preguntas relacionadas con la realización de valor">
      <div class="d-grid gap-2">
        <button id="btnValor" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#PregRealizacionDeValor"
          aria-expanded="false" aria-controls="PregRealizacionDeValor">
          Preguntas relacionadas con la realización de valor 0/35
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="PregRealizacionDeValor">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización evalúa y ajusta de manera regular su método para determinar precios,
            con base en pruebas de precios u otros métodos analíticos o experimentales?</p>
          <input type="radio" id="Falso1" name="valorP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La compañía es capaz y efectiva para aclarar sus ventajas en comparación con sus
            competidores?</p>
          <input type="radio" id="Falso1" name="valorP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Se asegura la organización de que todos los contactos con el cliente refuercen la
            propuesta de valor que la organización ofrece el mercado?</p>
          <input type="radio" id="Falso1" name="valorP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización estudia y analiza de forma continua nuevos patrones de consumo en el
            mercado. Como por ejemplo, cómo es que los usuarios finales consumen productos y
            servicios en realidad?</p>
          <input type="radio" id="Falso1" name="valorP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización continuamente encuentra y pone a prueba nuevos modelos de negocio
            (web, aplicaciones (apps) y oficinas móviles, hasta entregas rápidas a domicilio)?</p>
          <input type="radio" id="Falso1" name="valorP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización estudia y analiza los formatos de entrega de otras industrias así como
            está innovando en nuevos formatos de entrega propios?</p>
          <input type="radio" id="Falso1" name="valorP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización trata de satisfacer las necesidades reales de sus clientes y no
            solamente lo que los clientes responden directamente cuando se les pregunta?</p>
          <input type="radio" id="Falso1" name="valorP7" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="valorP7" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="valorP7" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="valorP7" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="valorP7" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('valor')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Preguntas relacionadas con el proceso">
      <div class="d-grid gap-2">
        <button id="btnProceso" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#PregProceso"
          aria-expanded="false" aria-controls="PregProceso">
          Preguntas relacionadas con el proceso 0/25
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="PregProceso">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Busca la organización sistemáticamente nuevas ideas de productos, serivios y
            procesos?</p>
          <input type="radio" id="Falso1" name="procesoP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="procesoP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="procesoP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="procesoP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="procesoP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización un proceso para probar ideas de innovación ?</p>
          <input type="radio" id="Falso1" name="procesoP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="procesoP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="procesoP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="procesoP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="procesoP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Puede la organización rápidamente llevar los proyectos de innovación al mercado?</p>
          <input type="radio" id="Falso1" name="procesoP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="procesoP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="procesoP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="procesoP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="procesoP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Realiza la organización pruebas piloto de nuevos productos y servicios , aprende de
            ellas y adapta rápidamente los pilotos antes de hacer un lanzamiento final?</p>
          <input type="radio" id="Falso1" name="procesoP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="procesoP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="procesoP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="procesoP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="procesoP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización una metodología para identificar errores y resolverlos en las partes
            tempranas del proceso de innovación?</p>
          <input type="radio" id="Falso1" name="procesoP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="procesoP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="procesoP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="procesoP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="procesoP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('proceso')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Preguntas relacionadas con la comunidad">
      <div class="d-grid gap-2">
        <button id="btnComunidad" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#PregComunidad"
          aria-expanded="false" aria-controls="PregComunidad">
          Preguntas relacionadas con la comunidad 0/30
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="PregComunidad">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización socios externos involucrados en su desarrollo, como por ejemplo,
            universidades, start-ups, provedores y otros socios de la su misma rama?</p>
          <input type="radio" id="Falso1" name="comunidadP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="comunidadP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="comunidadP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="comunidadP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="comunidadP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Se encuentra la organización buscando constantemente nuevos talentos que
            contribuyan a su crecimiento y desarrollo?
          </p>
          <input type="radio" id="Falso1" name="comunidadP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="comunidadP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="comunidadP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="comunidadP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="comunidadP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización involucra a sus proveedores y socios en sus innovaciones?</p>
          <input type="radio" id="Falso1" name="comunidadP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="comunidadP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="comunidadP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="comunidadP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="comunidadP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Hace la organización ingeniería inversa, (por ejemplo, compra y desarma productos de
            la competencia) para entender cómo fueron diseñados?</p>
          <input type="radio" id="Falso1" name="comunidadP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="comunidadP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="comunidadP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="comunidadP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="comunidadP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización se mantiene aprendiendo regularmente sobre nuevas tecnologías, aún
            cuando no sepa cómo sacarles provecho?
          </p>
          <input type="radio" id="Falso1" name="comunidadP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="comunidadP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="comunidadP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="comunidadP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="comunidadP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización compra y hace pruebas en innovaciones de competidores y de otras
            industrias?
          </p>
          <input type="radio" id="Falso1" name="comunidadP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="comunidadP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="comunidadP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="comunidadP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="comunidadP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('comunidad')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>

    <div id="Seccion de Preguntas relacionadas con el aprendizaje organizacional">
      <div class="d-grid gap-2">
        <button id="btnAprzjOrg" class="btn-lg btn-dark" type="button" data-bs-toggle="collapse"
          data-bs-target="#PregAprendizajeOrganizacional" aria-expanded="false"
          aria-controls="PregAprendizajeOrganizacional">
          Preguntas relacionadas con el aprendizaje organizacional 0/40
        </button>
      </div>
      <br>
      <div class="collapse bg-primary border border-3" id="PregAprendizajeOrganizacional">
        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La gente en la organización cuenta la historia y los éxitos de ésta de forma amena?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP1" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP1" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP1" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP1" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP1" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización empleados que crean ambientes propicios para la innovación,
            tanto internamente como en el exterior, con socios?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP2" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP2" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP2" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP2" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP2" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Tiene la organización empleados que experimentan y se les anima a hacerlo?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP3" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP3" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP3" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP3" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP3" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Cuenta la organización con un número suficiente de "empleados-T", es decir quienes
            tienen una amplia manera de pensar y colaborar en varias disciplinas, pero que se
            concentran en realizar sólo una o unas cuantas tareas especializadas?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP4" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP4" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP4" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP4" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP4" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización invierte el tiempo necesario para evaluar adecuadamente los productos
            y servicios que son lanzados al mercado?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP5" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP5" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP5" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP5" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP5" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Los empleados de la organización aprenden unos de otros y de sus clientes?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP6" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP6" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP6" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP6" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP6" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿La organización mide sistemáticamente y evalúa sus esfuerzos de innovación?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP7" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP7" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP7" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP7" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP7" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br>

        <div class="p-3 bg-dark text-white rounded-3">
          <p>¿Se recompensa y anima a los empleados para aportar nuevos conocimientos?</p>
          <input type="radio" id="Falso1" name="aprzjOrgP8" value="Falso">
          <label for="Falso1">Falso</label><br>
          <input type="radio" id="No totalmente cierto1" name="aprzjOrgP8" value="No totalmente cierto">
          <label for="No totalmente cierto1">No totalmente cierto</label><br>
          <input type="radio" id="No se / No es aplicable1" name="aprzjOrgP8" value="No se / No es aplicable">
          <label for="No se / No es aplicable">No sé / No es aplicable</label><br>
          <input type="radio" id="Casi verdadero1" name="aprzjOrgP8" value="Casi verdadero">
          <label for="Casi verdadero1">Casi verdadero</label><br>
          <input type="radio" id="Verdadero1" name="aprzjOrgP8" value="Verdadero">
          <label for="Verdadero">Verdadero</label><br>
        </div>
        <br><br>
        <div class="position-relative">
          <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
            onclick="obtenerRespuestas('aprzjOrg')">
            Evaluar
          </button>
        </div>
        <br><br>
      </div>
    </div>
    <br><br>

    <div class="position-relative">
      <button id="btnEv" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
        onclick="obtenerRespuestas()">
        Evaluar
      </button>
    </div>
    <br><br>

    <div id="evaluacion"></div>
    <br>
    <div id="divPDF" style="display:none" class="position-relative">
      <button id="btnPDF" class="btn btn-dark btn-lg position-absolute top-50 start-50 translate-middle"
        onclick="createPDF()">Descargar PDF</button>
    </div>
    <br>
  </div>
  <br>
</body>

</html>